@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/centurygothic.woff2') format('woff2'),
         url('../fonts/centurygothic.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/centurygothic_bold.woff2') format('woff2'),
         url('../fonts/centurygothic_bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}