html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
}

body {
	background-color: #fff;
	line-height: 125%;
	font-size: 16px;
	font-family: 'CenturyGothic', Arial, sans-serif;
	color: #000;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1430px;
	margin: 0 auto;
	padding: 0 15px;
}

.header__menu-item.white {
	.header__menu-link {
		&.active {
			color: #B79C5F;

			&::after {
				background-color: #B79C5F;
				width: 0;

			}
		}


	}
}

.header__menu-link {
	&.active {
		color: #79000F;

		&::after {
			width: 100%;
		}
	}



}