<footer class="footer">

    <div class="container">
        <div class="footer__inner">
            <ul class="footer__links">
                <li class="footer__links-item"><a href="./index.html#home" class="footer__links-link">Home</a></li>
                <li class="footer__links-item"><a href="./about.html" class="footer__links-link">About</a></li>

                <li class="footer__links-item"><a href="./services.html" class="footer__links-link">Services</a></li>
                <li class="footer__links-item"><a href="./index.html#contact" class="footer__links-link">Contact</a></li>
            </ul>
            <div class="footer__media">
                <a href="#" class="footer__media-link">
                    <img src="../images/facebook.svg" alt="facebook" class="footer__media-img" loading="lazy">
                </a>
                <a href="#" class="footer__media-link">
                    <img src="../images/twitter.svg" alt="twitter" class="footer__media-img" loading="lazy">
                </a>
                <a href="#" class="footer__media-link">
                    <img src="../images/instagram.svg" alt="instagram" class="footer__media-img" loading="lazy">
                </a>
            </div>
            <a class="footer__logo" href="#">
                <img src="../images/logo-gold.svg" alt="de-one-logo" class="footer__logo-img" loading="lazy">
            </a>
        </div>
        <p class="footer__copy">
            © 2026 De-One & Kry0Web. All Rights Reserved.
        </p>
    </div>

</footer>

</div>

<script src="js/main.min.js"></script>
</body>

</html>