<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

    <div class="wrapper">



        <header class="header">

            <div class="container">
                <div class="header__inner">


                    <div class="header__top">
                        <a href="#" class="header__top-logo">
                            <img class="header__top-logo-img" src="../images/logo-gold.svg" alt="de-one-logo">
                        </a>
                        <a class="header__top-btn" href="tel:+14244472424">+1 424 447 2424</a>

                    </div>
                    <nav class="header__nav">
                        <ul class="header__menu">
                            <li class="header__menu-item"><a href="./index.html#home" class="header__menu-link">Home</a>
                            </li>
                            <li class="header__menu-item"><a href="./about.html" class="header__menu-link">About</a>
                            </li>
                            <li class="header__menu-item"><a href="./services.html"
                                    class="header__menu-link">Services</a></li>
                            <li class="header__menu-item"><a href="./index.html#contact"
                                    class="header__menu-link">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>


        </header>